//begin work alferov
.works__item.works-item
  .works-item__img
    img(src="assets/img/works/alferov.jpg" alt="alferov")
    a(href="https://vitaliiborodulin.github.io/alferov/" target="_blank" rel="nofollow noopener noreferrer").works-item__img-more
      +svg('magnific')
      span view site
  .works-item__info
    h3.works-item__title Aleksei Alferov
    .works-item__date
      +svg('calendar')
      time(datetime='2020-12') december 2020
    a(href="https://vitaliiborodulin.github.io/alferov/" target="_blank" rel="nofollow noopener noreferrer").works-item__link
      +svg('link')
      span alekseyalferov.com
    .works-item__btns
      .works-item__btn html
      .works-item__btn less
      .works-item__btn js/jquery
//end work alferov
