//begin work fagot
.works__item.works-item
  .works-item__img
    img(src="assets/img/works/circusrio.jpg" alt="Circus Rio")
    a(href="https://circusrio.com/" target="_blank" rel="nofollow noopener noreferrer").works-item__img-more
      +svg('magnific')
      span view site
  .works-item__info
    h3.works-item__title Circus Rio
    .works-item__date
      +svg('calendar')
      time(datetime='2021-05') may 2021
    a(href="https://circusrio.com/" target="_blank" rel="nofollow noopener noreferrer").works-item__link
      +svg('link')
      span circusrio.com
    .works-item__btns
      .works-item__btn bootstrap5
      .works-item__btn js/jquery
      .works-item__btn wordpress
//end work fagot
