//begin goldypole
.works__item.works-item
  .works-item__img
    img(src="assets/img/works/goldypole.jpg" alt="Goldypole")
    a(href="https://goldypole.ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__img-more
      +svg('magnific')
      span view site
  .works-item__info
    h3.works-item__title Goldypole
    .works-item__date
      +svg('calendar')
      time(datetime='2022-02') february 2022
    a(href="https://goldypole.ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__link
      +svg('link')
      span goldypole.ru
    .works-item__btns
      .works-item__btn smartgrid
      .works-item__btn js/jquery
      .works-item__btn wordpress
      .works-item__btn multisite
//end goldypole
