//begin work fagot
.works__item.works-item
  .works-item__img
    img(src="assets/img/works/mann.jpg" alt="Mann")
    a(href="https://igor-mann.ru/justalittle/" target="_blank" rel="nofollow noopener noreferrer").works-item__img-more
      +svg('magnific')
      span view site
  .works-item__info
    h3.works-item__title Mann
    .works-item__date
      +svg('calendar')
      time(datetime='2021-04') april 2021
    a(href="https://igor-mann.ru/justalittle/" target="_blank" rel="nofollow noopener noreferrer").works-item__link
      +svg('link')
      span igor-mann.ru/justalittle
    .works-item__btns
      .works-item__btn html
      .works-item__btn less
      .works-item__btn js/jquery
//end work fagot
