//begin work mg
.works__item.works-item
  .works-item__img
    img(src="assets/img/works/mg.jpg" alt="MG")
    a(href="https://mg-esthetic.ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__img-more
      +svg('magnific')
      span view site
  .works-item__info
    h3.works-item__title MG
    .works-item__date
      +svg('calendar')
      time(datetime='2020-07') july 2020
    a(href="https://mg-esthetic.ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__link
      +svg('link')
      span mg-esthetic.ru
    .works-item__btns
      .works-item__btn html
      .works-item__btn less
      .works-item__btn js/jquery
      .works-item__btn php/wordpress
//end work mg
