//begin work nowafit
.works__item.works-item
  .works-item__img
    img(src="assets/img/works/nowafit.jpg" alt="Nowafit Wellness")
    a(href="https://nowafit.pl/" target="_blank" rel="nofollow noopener noreferrer").works-item__img-more
      +svg('magnific')
      span view site
  .works-item__info
    h3.works-item__title Nowafit Wellness
    .works-item__date
      +svg('calendar')
      time(datetime='2021-02') february 2021
    a(href="https://nowafit.pl/" target="_blank" rel="nofollow noopener noreferrer").works-item__link
      +svg('link')
      span nowafit.pl
    .works-item__btns
      .works-item__btn html
      .works-item__btn less
      .works-item__btn js/jquery
//end work nowafit
