//begin work parfino
.works__item.works-item
  .works-item__img
    img(src="assets/img/works/parfino.jpg" alt="Parfino")
    a(href="https://parfino.pro/" target="_blank" rel="nofollow noopener noreferrer").works-item__img-more
      +svg('magnific')
      span view site
  .works-item__info
    h3.works-item__title Parfino
    .works-item__date
      +svg('calendar')
      time(datetime='2021-01') january 2021
    a(href="https://parfino.pro/" target="_blank" rel="nofollow noopener noreferrer").works-item__link
      +svg('link')
      span parfino.pro
    .works-item__btns
      .works-item__btn bootstrap
      .works-item__btn js/jquery
      .works-item__btn wordpress/multisite
//end work parfino
