//begin work sm-logistics
.works__item.works-item
  .works-item__img
    img(src="assets/img/works/sm.jpg" alt="Sm-logistics")
    a(href="https://sm-logistics.ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__img-more
      +svg('magnific')
      span view site
  .works-item__info
    h3.works-item__title Sm-logistics
    .works-item__date
      +svg('calendar')
      time(datetime='2022-04') april 2022
    a(href="https://sm-logistics.ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__link
      +svg('link')
      span sm-logistics.ru
    .works-item__btns
      .works-item__btn smartgrid
      .works-item__btn less
      .works-item__btn js/jquery
      .works-item__btn wordpress
//end work sm-logistics
