//begin work tehnokrat
.works__item.works-item
  .works-item__img
    img(src="assets/img/works/tehnokrat.jpg" alt="Tehnokrat")
    a(href="https://navesy-tekhnokrat.ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__img-more
      +svg('magnific')
      span view site
  .works-item__info
    h3.works-item__title Navesy Tekhnokrat
    .works-item__date
      +svg('calendar')
      time(datetime='2022-03') march 2022
    a(href="https://navesy-tekhnokrat.ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__link
      +svg('link')
      span navesy-tekhnokrat.ru
    .works-item__btns
      .works-item__btn bootstrap
      .works-item__btn wordpress
//end work tehnokrat
