//begin work zvk
.works__item.works-item
  .works-item__img
    img(src="assets/img/works/zvk.jpg" alt="ZVK")
    a(href="http://zabory-vorota-kalitki.ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__img-more
      +svg('magnific')
      span view site
  .works-item__info
    h3.works-item__title ZVK
    .works-item__date
      +svg('calendar')
      time(datetime='2020-03') march 2020
    a(href="http://zabory-vorota-kalitki.ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__link
      +svg('link')
      span zabory-vorota-kalitki.ru
    .works-item__btns
      .works-item__btn html
      .works-item__btn less
      .works-item__btn js/jquery
      .works-item__btn php/wordpress
//end work zvk
