//begin menu
nav.aside__menu.menu
  ul.menu__list
    li.menu__item.menu__item--home
      a(href="/").menu__link
        +svg('home')
        span.menu__text home
    li.menu__item
      a(href="cv.html").menu__link
        +svg('resume')
        span.menu__text cv
    li.menu__item
      a(href="works.html").menu__link
        +svg('works')
        span.menu__text works
    li.menu__item
      a(href="blog.html").menu__link
        +svg('blog')
        span.menu__text blog
    li.menu__item
      a(href="contacts.html").menu__link
        +svg('contacts')
        span.menu__text contacts
//end menu