*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: .25px;
  color: #1e1e1e;
}

body {
  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $oswald;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 25px;
}

p {
  strong {
    font-weight: 500;
  }
}

a {
  color: $highlight;
  &:hover {
    text-decoration: none;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

button {
  border-radius: 0 !important;
}

svg {
  display: block;
  overflow: visible;
}

////изменяем цвет выделения текста мышью
::selection {
  color: $dark;
  background-color: $highlight;
  text-shadow: none;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 90px;

  flex-grow: 1;
  @include print() {
    margin-left: 0;
  }
  @include max(500) {
    margin-left: 0;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;

  @include max(500) {
    padding: 0 20px;
  }
}

.page-header {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;

  @include print {
    display: none;
  }
}

.page-title {
  font-family: $kaushan;
  font-size: 90px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  z-index: 1;
  display: inline-block;
  user-select: none;
  text-align: center;
  color: $dark;

  @include max(767) {
    font-size: 60px;
  }

  &::before {
    position: absolute;
    z-index: -1;
    bottom: 15px;
    left: -5px;
    width: calc(100% + 20px);
    height: 10px;
    content: '';
    background-color: $highlight;

    @include max(767) {
      bottom: 10px;
      height: 5px;
    }
  }
}

.highlight-text {
  font-weight: 400;
  padding-right: 2px;
  color: $highlight;
}
