// ***** main colors *******
$dark: #1e1e1e;
$light: #fdf9f3;
$grey: #808080;

$highlight: #ffb100;

$box-shadow: 0 0 10px 5px rgba(30, 30, 30, .1);


// ===== fonts =====
$oswald: 'Oswald', sans-serif; //eng-ru
$roboto: 'Roboto Condensed', sans-serif; //eng-ru

$kaushan: 'Kaushan Script', sans-serif; //eng (title)
$teko: 'Teko', sans-serif; //eng (my name - index)
