- var articleLink   = '2019-12-16-risuem-gomera-simpsona-ispolzuya-krugi-v-css.html'
- var imgPath       = 'assets/img/articles/2019-12-16/homer-top.jpg'
- var imgAlt        = 'Homer Simpson'
- var articleTitle  = 'Рисуем Гомера Симпсона используя круги в CSS'
- var articleDate   = '2019-12-11'
- var articleWriter = 'Alvaro Montoro'
- var articleDescr  = 'Css рисунки, обычно, являются набором фигур, из которых в итоге составляют изображение. Мультипликационный персонаж, такой как Гомер Симпсон, не вписывается в эту категорию, из-за чего рисовать его на CSS - настоящий вызов.'

// *** don't forget to fix hashtags! ***

//begin 2019-12-16
.blog__article.blog-article
  a(href= articleLink).blog-article__img
    img(src= imgPath alt= imgAlt)
  .blog-article__info
    a(href= articleLink).blog-article__title #{articleTitle}
    .blog-article__info-header
      .blog-article__date(title='Date of publication of the original article')
        +svg('calendar')
        time(datetime= articleDate) #{articleDate}
      .blog-article__author(title='The author of the article')
        +svg('writer')
        span #{articleWriter}
    a(href= articleLink).blog-article__preview
      p #{articleDescr}
    .blog-article__tags
      .blog-article__tag #css
      .blog-article__tag #drawing
//end 2019-12-16