- var articleLink   = '2020-03-05-4-sposoba-animirovat-cvet-tekstovoj-sсylki-pri-navedenii.html'
- var imgPath       = 'assets/img/articles/2020-03-05/top-img.jpg'
- var imgAlt        = 'Link hover'
- var articleTitle  = '4 способа анимировать цвет текстовой ссылки при наведении'
- var articleDate   = '2020-03-05'
- var articleWriter = 'Katherine Kato'
- var articleDescr  = 'Давайте создадим эффект на чистом Css, который будет менять цвет текстовой ссылки при наведении ... но будем заполнять ссылку цветом слева направо, а не как обычно просто изменять цвет.'

// *** don't forget to fix hashtags! ***

//begin 2020-03-05
.blog__article.blog-article
  a(href= articleLink).blog-article__img
    img(src= imgPath alt= imgAlt)
  .blog-article__info
    a(href= articleLink).blog-article__title #{articleTitle}
    .blog-article__info-header
      .blog-article__date
        +svg('calendar')
        time(datetime= articleDate) #{articleDate}
      .blog-article__author(title='The author of the article')
        +svg('writer')
        span #{articleWriter}
    a(href= articleLink).blog-article__preview
      p #{articleDescr}
    .blog-article__tags
      .blog-article__tag #css
      .blog-article__tag #animation
//end 2020-03-05