include elements/_mixins
block variables

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title #{title}

    meta(name="description" content= description)
    meta(name="author"      content="http://xaaser2006.ru/")

    // begin responsive
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    // end responsive

    // begin social content&image
    meta(property='og:title'  content= ogtitle)
    meta(property="og:image"  content= ogimage)
    meta(property="og:image:width"  content='750')
    meta(property="og:image:height"  content='500')
    meta(name="twitter:card"  content='summary_large_image')
    // end social content&image

    // begin favicon block start
    link(rel='shortcut icon'    type='image/x-icon' href='assets/img/favicon/favicon.jpg')
    link(rel='apple-touch-icon' sizes='180x180'     href='img/favicon/apple-touch-icon-180x180.jpg')
    // end favicon block end

    //begin fonts
    link(href="https://fonts.googleapis.com/css?family=Kaushan+Script%7COswald%7CRoboto+Condensed:300,400,700%7CTeko&display=swap&subset=cyrillic-ext" rel="stylesheet")
    //end fonts

    link(rel='stylesheet' href='assets/css/foundation.css')
    link(rel='stylesheet' href='assets/css/app.css')

    // begin custom browsers color
    meta(name='theme-color', content='#0b0b0b')
    // end custom browsers color

    //- link(rel="alternate" href="http://xaaser2006.com/rss.xml" type="application/xml" title="MyRSS")

    //[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]

  body
    block content

    script(src='assets/js/foundation.js')
    script(src='assets/js/app.js')
