extends ../_template

block variables
  - var title       = 'Blog | Xaaser2006.ru'
  - var description = 'Blog | Xaaser2006.ru'
  - var ogtitle     = 'Blog | Xaaser2006.ru'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap#main-wrap
    include ../sections/aside

    //begin content
    section.main.blog
      include ../elements/burger
      include ../elements/scroll-2-top

      //begin page-header
      .page-header
        .container
          .page-header__title
            h1.page-header__title.page-title Blog
      //end page-header

      .container
        //begin blog-articles
        .blog__articles
          p Статей пока нет
          //- include ../sections/articles-preview/2020-09-24
          //- include ../sections/articles-preview/2020-07-09
          //- include ../sections/articles-preview/2020-07-06
          //- include ../sections/articles-preview/2020-06-09
          //- include ../sections/articles-preview/2020-06-06
          //- include ../sections/articles-preview/2020-05-07
          //- include ../sections/articles-preview/2020-04-29
          //- include ../sections/articles-preview/2020-04-07
          //- include ../sections/articles-preview/2020-03-31
          //- include ../sections/articles-preview/2020-03-26
          //- include ../sections/articles-preview/2020-03-13
          //- include ../sections/articles-preview/2020-03-10
          //- include ../sections/articles-preview/2020-03-05
          //- include ../sections/articles-preview/2020-03-02
          //- include ../sections/articles-preview/2020-02-27
          //- include ../sections/articles-preview/2020-02-17
          //- include ../sections/articles-preview/2020-02-07
          //- include ../sections/articles-preview/2020-01-28
          //- include ../sections/articles-preview/2020-01-14
          //- include ../sections/articles-preview/2020-01-10
          //- include ../sections/articles-preview/2019-12-28
          //- include ../sections/articles-preview/2019-12-27
          //- include ../sections/articles-preview/2019-12-18
          //- include ../sections/articles-preview/2019-12-16
        //end blog-articles
    //end content
