extends ../_template

block variables
  - var title       = 'Contacts | Xaaser2006.ru'
  - var description = 'Contacts | Xaaser2006.ru'
  - var ogtitle     = 'Contacts | Xaaser2006.ru'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap#main-wrap
    include ../sections/aside

    //begin content
    section.main.contacts
      include ../elements/burger
      include ../elements/scroll-2-top

      //begin contacts-map
      .contacts-map#contacts-map
      //end contacts-map

      //begin contacts-item
      .contacts-item#contacts-item
        h1.contacts-item__title.page-title Contacts

        .contacts-item__links.contact-links
          //begin contact-links__item
          .contact-links__item
            h3.contact-links__title My profiles
            ul.contact-links__list.contacts-list
              li
                a(href="https://freelance.ru/xaaser2006/" target="_blank" rel="nofollow noopener noreferrer").contact-links__link.contact-links__link--in
                  +svg('f')
                  span Freelance
              li
                a(href="https://github.com/vitaliiborodulin" target="_blank" rel="nofollow noopener noreferrer").contact-links__link.contact-links__link--git
                  +svg('git')
                  span Github
          //end contact-links__item
          //begin contact-links__item
          .contact-links__item
            h3.contact-links__title Get in touch with me
            ul.contact-links__list
              li
                a(href="https://t.me/vitaliiborodulin" target="_blank" rel="nofollow noopener noreferrer").contact-links__link.contact-links__link--teleg
                  +svg('telegram')
                  span My telegram
              li
                a(href="mailto:xaaser2006@gmail.com").contact-links__link.contact-links__link--mail
                  +svg('mail')
                  span xaaser2006@gmail.com
          //end contact-links__item

        .contacts-item__btn
          a(href="assets/text/web_developer_Vitalii_Borodulin.pdf" target='_blank').btn.btn--dark Download CV
      //end contacts-item
    //end content
