.index {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark;
  .burger__line {
    background-color: $light;
  }
}

.index__block {
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  text-align: center;
}

.index__title {
  font-family: $teko;
  font-size: 10.5vw;
  line-height: 1;
  margin-bottom: 0;
  user-select: none;
  // animation: .7s fadeIn ease 1s forwards;
  letter-spacing: 3px;
  // opacity: 0;
  color: $light;

  @include max(1020) {
    font-size: 12vw;
  }
}

.index__subtitle {
  font-family: $kaushan;
  font-size: 3vw;
  margin-bottom: 50px;
  user-select: none;
  // animation: .7s fadeIn ease 1.15s forwards;
  text-align: center;
  // opacity: 0;
  color: $light;

  @include max(1020) {
    font-size: 5vw;
  }
}

.index__btn {
  display: flex;
  justify-content: center;
  // animation: .7s fadeIn ease 1.3s forwards;
  // opacity: 0;
}
